body{
background:#000 url(image/--.png) fixed repeat-x;
height:100%;
margin:0 0 0 0;
}

#header{
width:100%;
height:10;
background:#111 url(image/header.png);
}
#search{
margin-left:10;
padding-bottom:0;
}
.srch{
color:#fff;
background-color:#000;
padding:5 0 5 4;
berder:0;
border-radius:6px;
}
#title{
height:96px;
padding-top:20px
}
#loogin{
height:96px;
color:#eee;
padding-top:20px
}
#title a{
color:#000;
font-size:60px;
font-family:"5";
}
#title a:hover{text-decoration:none;}
#title2 a{
color:#222;
font-size:60px;
font-family:"5";
}
#title2 a:hover{text-decoration:none;}
/*--------------menu 1----------------*/
#menu10{
width:100%;
text-align:left;
list-style-type:none;
margin:8 0 0 4;
padding:0;
}
#menu10 li{
font-family:'2';
font-size:14px;
text-decoration:none;
float:left;
margin:5;
padding:2 6 2 6;
background:#eee url(image/background.png) top right repeat-x;
border-radius:8px;
}
#menu10 a:hover{
text-decoration:none;
}
#menu1{
width:30%;
text-align:left;
font-family:"2";
font-size:22;
color:#000;
list-style-type:none;

}
#menu1 li{
	font-size:22px;
	font-family:"2";
}
#menu1 a{
color:#000;
font-size:1em;
text-decoration:none;
float:left;
padding-right:45;
}
#menu1 a:hover{
text-decoration:none;
color:#D00000;
}
/*--------------menu 2----------------*/
#menu2{
width:100%;
text-align:left;
font-family:"2";
font-size:20;
color:#909090;
list-style-type:none;

}
#menu2 li{
	font-size:20;
	font-family:"2";
}
#menu2 a{
color:#909090;
font-size:1em;
text-decoration:none;
float:left;
padding-right:45;
}
#menu2 a:hover{
text-decoration:none;
color:#222;
}
/*************** menu left ******************/
#menuleft{
font-family:"1";
font-size:28;
color:#909090;
list-style-type:none;
margin:0;
padding:0;
}
#menuleft li{
	font-size:23;
	font-family:"1";
	text-align:center;
	padding-top:1;
}
#menuleft a{
text-decoration:none;
color:#fff;
background:url(image/tab2.png);
display:block;
text-decoration:none;
padding:10;
border-radius:12px;
}
#menuleft a:hover{background:#111 url(image/tab1.png);display:block;border-radius:12px;}
/*--------------menu footer----------------*/
#menufooter{
font-family:"3";
font-size:16;
color:#909090;
list-style-type:none;
margin:0;
padding:0;
}
#menufooter li{
	font-size:16;
	font-family:"3";
}
#menufooter a{
color:#909090;
font-size:1em;
text-decoration:none;
}
#menufooter a:hover{
text-decoration:none;
color:#222;
}
.copyrights{
color:#666;
font-size:15;
font-family:2;
text-align:right;
}
#footerbotle{
padding:5 20 20 20;
color:#333;
font-family:"3";
font-size:16;
}
/*---------------   ---------------*/
#bodiv{
margin:30 30 30 30;
font-family:"3";
font-size:16;
}
#tab1{
color:#EEE;
font-family:"1";
font-size:24;
}
/*********** red botle ******************/

#redbotle{
padding:3;
color:#000;
font-family:"3";
font-size:16;
}
td.grisbotle1 a,td.grisbotle a{
color:#bbb;
font-family:"3";
font-size:16;
}
#redbotle2{
padding:15;
color:#fff;
font-family:"2";
font-size:18;
}
#redtab{
background:#D01818 url(image/tab3.png) repeat-x ;
border-radius:0px;
color:#eee;
font-family:"1";
font-size:14;
text-align:right;
padding-right:20;
}
strong.strng{
color:#fff;
}
#gtitle{
color:#000;
background:#bbb url(image/background.png) top right fixed no-repeat;
font-size:24;
font-family:'2';
}
#gdiscri{
padding:20;
color:#000;
font-size:18;
font-family:'3';
}
#gtype{
color:#666;
font-size:19;
font-family:'2';
}
#connect{
padding:20;
color:#fff;
background:#D01818;
text-align:center;
font-size:26;
font-family:'2';
border-radius:8px;
}
/***************************************/
table td.grisbotle11{background:#fff url(image/background2.png) top right  repeat-x;border-radius:20px;}
table td.grisbotle10{background:#fff url(image/background2.png) top right repeat-x;border-radius:20px;}
table td.grisbotle5{background:#eee url(image/background.png) top right fixed no-repeat;border-radius:10px;}
table td.grisbotle5:hover{background:#eee url(image/background.png) top right fixed no-repeat;border-radius:10px;}
table td.grisbotle4{background:#fff url(image/background2.png) repeat-x; border-radius:10px;}
table td.grisbotle3{background:#DDD url(image/background.png) top right fixed no-repeat;border-radius:30px;}
table td.grisbotle3:hover{background:#444 url(image/background.png) top right fixed no-repeat;border-radius:30px;color:#FFF;}
table td.grisbotle2{background:#ccc url(image/background.png) top right fixed no-repeat;}
table td.grisbotle2:hover{background:#EFEFEF url(image/background.png) top right fixed no-repeat;}
table td.grisbotle1{background-color:#333;}
table td.grisbotle1:hover{background-color:#000;}
table td.grisbotle0{background:#eee url(image/background2.png) top right repeat-x;border-radius:20px;}
table td.grisbotle0:hover{background:#e9e9e9 url(image/background.png) top right repeat-x;border-radius:20px;}
table td.grisbotle8{background:url(image/x.png) top right repeat-x;border-radius:20px;}
table td.grisbotle7{background:#111 url(image/---.png) top right fixed repeat-x;border-radius:20px;}
table td.grisbotle{background-color:#000;border-radius:40px;}
table td.grisbotle:hover{background-color:#D01818;border-radius:40px;}

table tr.grisbotle4{color:#fff;background:#333 url(image/tab2.png) top right fixed no-repeat;border-radius:30px;}

table tr.grisbotle3{background: url(image/background.png) top right fixed no-repeat;border-radius:30px;}
table tr.grisbotle3:hover{background: url(image/background.png) top right fixed no-repeat;border-radius:30px;}

table tr.grisbotle2{background:#EEE url(image/background.png) top right fixed no-repeat;border-radius:30px;}
table tr.grisbotle2:hover{background:#FFF url(image/background.png) top right fixed no-repeat;border-radius:30px;}

table tr.grisbotle1{height:32;color:#111;background:#fff url(image/white.png);}
table tr.grisbotle1:hover{color:#000;background: url(image/white2.png);}

table tr.grisbotle0{height:32;color:#111;background:url(image/background.png);}
table tr.grisbotle0:hover{color:#000;background: url(image/gris-.png);}

font.eks1{color:#333;background:url(image/tab2.png);display:block;height:30;border-radius:15px;}
font.eks1:hover{color:#FFF;background:url(image/tab3.png);display:block;height:30;border-radius:15px;}

font.eks2{color:#111;background:url(image/tab1.png);display:block;height:30;border-radius:15px;}
font.eks2:hover{color:#FFF;background:url(image/tab3.png);display:block;height:30;border-radius:15px;}
/************ GAMES *************/
center.top{
font-size:80;
font-family:"3";
color:#ddd;
}
/********* ************/
#n1,#n2,#n3,#n4{
font-size:40;
font-family:'2';
}
#t{
font-size:28;
font-family:'2';
}
/**** fonts ***********/
@font-face {
	font-family:"1";
	src: url('font/font-1.ttf');
}
@font-face {
	font-family:"2";
	src: url('font/font-2.ttf');
}
@font-face {
	font-family:"3";
	src: url('font/font-3.ttf');
}
@font-face {
	font-family:"4";
	src: url('font/DISTRO.ttf');
}
@font-face {
	font-family:"5";
	src: url('font/go3v2.ttf');
}
@font-face {
	font-family:"6";
	src: url('font/Younger than me.ttf');
}
@font-face {
	font-family:"7";
	src: url('font/sony.ttf');
}
a.white{color:#D01818;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
td.a1{color:#000;background:url(image/gris.png);display:block;height:32;text-decoration:none;}
td.a2{color:#000;background:url(image/white.png);display:block;height:32;text-decoration:none;}
td.a1:hover,td.a2:hover{background:#000 url(image/orange.png);display:block;}

.bar1{
	padding:3 15 3 15;
	font-size:14px;
	color:#eee;
	height:24;
	background-color:#111;
	border-radius:15px;
	}
.bar1:hover{
	padding:3 15 3 15;
	font-size:14px;
	color:#fff;
	height:24;
	background: url(image/tab3.png);
	border-radius:15px;
	}
.bar2{
	padding:3 15 3 15;
	font-size:16px;
	color:#eee;
	height:28;
	background-color:#D01818;
	border-radius:15px;
	}
.bar2:hover{
	padding:3 15 3 15;
	font-size:16px;
	color:#fff;
	height:28;
	background-color:red;
	border-radius:15px;
	}
.bar3{
	padding:3 15 3 15;
	font-size:15px;
	color:#eee;
	height:28;
	background-color:green;
	border-radius:15px;
	}
.bar3:hover{
	padding:3 15 3 15;
	font-size:15px;
	color:#fff;
	height:28;
	background-color:#20B020;
	border-radius:15px;
	}
.bar{
	padding:3 8 3 8;
	border-radius:6px;
	font-size:18px;
}
.barre{
	font-size:14px;
	text-color:#fff;
	background:#000;
	border-radius:5px;
	padding:3 0 3 0;
	weight:bold;
}

.barreyellow{
	color:#000;
	background-color:#FDD130;
	border-radius:5px;
	padding:3 0 3 0;
	weight:bold;
}
.bar:hover{
	padding:3 8 3 8;
	border-radius:6px;
	font-size:18px;
	background-color:#ddd;
}